#root {
  max-width: 720px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.GridBox {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr;
  column-gap: .4rem;
  row-gap: .1rem;
  border: 1px solid darkblue;
  padding: .5rem;
  margin: .25rem;
}
.GradeBox {
  border: 1px solid darkblue;
  padding: 0 0 0 1rem;
}
.grade {
  border: 1px solid darkblue;
  padding: 1rem;
  margin: 1rem 2rem;
  font-size: 3em;
}
@media only screen and (max-width: 730px) {
  .GridBox {
    grid-template-columns: 1fr 1fr;
  }
}