#root {
  max-width: 720px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.GridBox {
  display: grid;
  grid-template-columns:  1.5fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-auto-flow: column;
  column-gap: .4rem;
  row-gap: .1rem;
  padding: .5rem;
  margin: .25rem;
}
.GradeBox {
  border: 1px solid darkblue;
  border-radius: 5px;
}
.grade {
  border: 1px solid darkblue;
  border-radius: 5px;
  padding: 1rem;
  margin: 1rem 2rem;
  font-size: 3em;
}
@media only screen and (max-width: 730px) {
  .GridBox {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  }
}
button {
  padding: 1rem 10rem;
  margin: .5rem;
}